<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-with, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset = UTF-8">
    <title>【麻雀BOT】スコア入力</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body class="my-5">
    <div id="app">
        <div class="fixed-top h5 bg-info text-white mx-auto">{{name}} > メニュー > スコア入力 </div>
        <div class="container" v-show="isShow">
            <form class="form">

                <label for="pl1-cn" class="col-form-label">プレイヤー１</label>
                <div class="form-row">
                    <div class="form-group col-7">
                        <select id="pl1-cn"  v-model="data.scores[0].pl" class="form-control">
                            <option disabled value="">選択して下さい</option>
                            <option v-for="pl1 in memberList" :value="pl1" :key="pl1.uid">
                                {{ pl1.cn }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <input type="number" v-model.number="data.scores[0].score" class="form-control">
                    </div>
                    <button type="button" class="btn btn-info btn-sm form-control col-1" @click="changeSign(0)">±</button>
                </div>

                <label for="pl1-cn" class="col-form-label">プレイヤー２</label>
                <div class="form-row">
                    <div class="form-group col-7">
                        <select id="pl2-cn"  v-model="data.scores[1].pl" class="form-control">
                            <option disabled value="">選択して下さい</option>
                            <option v-for="pl2 in memberList" :value="pl2" :key="pl2.uid">
                                {{ pl2.cn }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <input type="number" v-model.number="data.scores[1].score" class="form-control">
                    </div>
                    <button type="button" class="btn btn-info btn-sm form-control col-1" @click="changeSign(1)">±</button>
                </div>

                <label for="pl1-cn" class="col-form-label">プレイヤー３</label>
                <div class="form-row">
                    <div class="form-group col-7">
                        <select id="pl3-cn"  v-model="data.scores[2].pl" class="form-control">
                            <option disabled value="">選択して下さい</option>
                            <option v-for="pl3 in memberList" :value="pl3" :key="pl3.uid">
                                {{ pl3.cn }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <input type="number" v-model.number="data.scores[2].score" class="form-control">
                    </div>
                    <button type="button" class="btn btn-info btn-sm form-control col-1" @click="changeSign(2)">±</button>
                </div>

                <label for="pl1-cn" class="col-form-label">プレイヤー４</label>
                <div class="form-row">
                    <div class="form-group col-7">
                        <select id="pl4-cn"  v-model="data.scores[3].pl" class="form-control">
                            <option disabled value="">選択して下さい</option>
                            <option v-for="pl4 in memberList" :value="pl4" :key="pl4.uid">
                                {{ pl4.cn }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <input type="number" v-model.number="data.scores[3].score" class="form-control">
                    </div>
                    <button type="button" class="btn btn-info btn-sm form-control col-1" @click="changeSign(3)">±</button>
                </div>

            </form>

            <div class="h4">合計：{{totalScore}}点</div>
        </div>
            
        <div>{{err}}</div>


        <div v-show='isShow'>
            <button type="button" class="btn btn-primary btn-lg btn-block fixed-bottom" v-if="totalScore ==100000" @click="enter">登録する</button>
        </div>

        <div class="d-flex justify-content-center" v-if="!isShow && !isError">
            <div class="spinner-border " role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        
    </div>
        
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script src="./vconsole.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                data: {
                    liffMode: 'add-score',
                    scores:[
                        {pl:{},score:0},
                        {pl:{},score:0},
                        {pl:{},score:0},
                        {pl:{},score:0},
                    ]

                },
                memberList:[],
                uid:'',
                name:'',
                isShow: false,
                isError:false,
                err:''
            },
            mounted :function(){
                var self = this;
                liff
                .init({
                    liffId: "1654401319-OYwzPy3V" // use own liffId
                })
                .then(function() {
                    // Start to use liff's api
                    liff.getProfile()
                        .then(function(profile){
                            self.uid = profile.userId;
                            self.name = profile.displayName;
                            axios.get('https://script.google.com/macros/s/AKfycbyBWLj5IaEbQBAvmcZXT-fLqbUijmrFoowxK463PCs7ECXOfuLG/exec?mode=memberList')
                            .then(response =>{
                                self.memberList = response.data.memberList;
                                self.isShow = true;
                            })

                        })
                        .catch((err) => {
                        console.log('error', err);
                        });

                })
                .catch((err) => {
                    // Error happens during initialization
                    console.log(err.code, err.message);
                });


            },
            methods:{
                changeSign:function(no){
                    this.data.scores[no].score = this.data.scores[no].score * -1;
                },
                enter: function(){
                    this.isShow = false;

                    //データをpost
                    axios.post('https://script.google.com/macros/s/AKfycbyBWLj5IaEbQBAvmcZXT-fLqbUijmrFoowxK463PCs7ECXOfuLG/exec',JSON.stringify(this.data))
                    .then(response => {
                        var mes = [{
                            type: 'text',
                            text:'点数を登録しました'
                        }];

                        liff.sendMessages(mes)
                            .then(() => {
                                liff.closeWindow();
                            })
                            .catch((err) => {
                                console.log('error', err);
                            });

                    })
                    .catch(response => {console.log(response);this.err = JSON.stringify(response)});
                }
            },
            computed:{
                totalScore:function(){
                    return (this.data.scores[0].score + this.data.scores[1].score + this.data.scores[2].score + this.data.scores[3].score);
                }
            }
        })
    </script>


<script>
window.onload = function(){
    initVConsole();

}
// Initialize vConsole
function initVConsole() {
    window.vConsole = new window.VConsole({
        defaultPlugins: ['system', 'network', 'element', 'storage'],
        maxLogNumber: 1000,
        onReady: function() {
            console.log('vConsole is ready.');
        },
        onClearLog: function() {
            console.log('on clearLog');
        }
    });
}
</script>



</body>

</html>